# Files created by Code::Blocks #
#################################

bin
obj

# Files created by Code::Blocks #
#################################

PercolationCpp.depend
PercolationCpp.layout

# Code::Blocks project #
########################

PercolationCpp.cbp
